.venv
__pycache__
*.egg-info
*_cache

*.code-workspace

/.storage
/blueprints
/deps
/tts
secrets.yaml
.HA_VERSION
automations.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
configuration.yaml
.coverage
devcontainer.env
*.pyc
