name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ha-version: ["homeassistant==2025.8.*", "homeassistant==2025.10.*"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.13.2"
      - run: |
          sudo pip install uv
          sudo uv sync --group test
      - run: |
          sudo uv run --with ${{ matrix.ha-version }} pytest tests/
